[buildout]
develop = .
parts = test
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
extensions = buildout.dumppickedversions
versions = versions

[versions]
Chameleon = 1.2.13
chameleon.core = 1.0.4
chameleon.genshi = 1.0b4
chameleon.zpt = 1.1.3
megrok.chameleon = 0.5.2
megrok.pagetemplate = 0.7

[test]
recipe = zc.recipe.testrunner
eggs = zeam.form.base [test]
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--udiff', '--package=zeam.form.base']

